body {
    font-family: Tahoma;
}

.container {
    width: 300px; margin-left: auto; margin-right: auto; margin-top: 30px;
}

.form-container {
    width: 300px; margin-top: 30px; margin-left: 190px;
}

.header {
    width: 100%; text-align: center; font-size: 32px;
}

.header div {
    padding-top: 20px;
}

.messages {
    margin-top: 20px; margin-bottom: 20px; font-size: 11px; text-align: center; width: 100%; margin-left: 100px;
}

